#heading {
    font-family: 'Kanit', 'sans-serif';
    color: white;
    background-color: black;
    font-size: 100px;
}

body {
    background: ;
    text-align: center;
}

p{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

button {
    width: 100px;
    height: 100px;
    font-size: 20px;
    border: blue;
}